.shiny-text {
  position: relative;
  display: inline-block;
  font-weight: 600;
  background: linear-gradient(
    120deg,
    #c7d2fe 20%,
    #000000 40%,
    #ffffff 50%,
    #000306 60%,
    #c7d2fe 80%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 2.5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
