.mood_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0rem;
    gap: 0.75rem;
}

.mood_btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    outline: none;
    border: none;
    background: whitesmoke;
    box-shadow: 0 0 5px black;
    border-radius: 0.5rem;
}