.mood_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
  gap: 0.75rem;
}

.mood_btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text);
  outline: none;
  border: none;
  background: var(--btn);
  /* box-shadow: 0 0 5px black; */
  border-radius: 0.5rem;
}

.active_mood {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(252, 252, 252);
  outline: none;
  border: none;
  background: var(--btn_active);
  /* box-shadow: 0 0 5px black; */
  border-radius: 0.5rem;
}

/* Tablets */
@media (min-width: 768px) {
  .mood_container {
    gap: 2rem;
  }
  .mood_btn {
    padding: 0.75rem 1.25rem;
    font-weight: 300;
  }
}

/* Laptops */
@media (min-width: 1024px) {
  .mood_container {
    gap: 4rem;
  }
  .mood_btn {
    padding: 1rem 1.5rem;
    font-weight: 300;
    font-size: 1.25rem;
  }
}

/* Desktops */
@media (min-width: 1280px) {
  .mood_container {
    padding: 0;
    gap: 2rem;
    justify-content: flex-start;
  }
  .mood_btn {
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    font-size: 1rem;
  }
}
